* {
	box-sizing: border-box;
	margin: 0;
	padding: 0 
}

html {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}

body {
	min-height: 100%;
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.6)
    ), url(images/bgimage.jpg);
	background-position: 30%;
	background-size: cover;	
	background-repeat: no-repeat;
	width: 100%;	
}

navbar {
	height: 10%
}

main {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	border-bottom: 2px solid #CEE5F2 
	
}

header {
	color: #AEFFD8 ;
	font-size: 15px;
}

.hamburger {
	cursor: pointer;
}

.hamburger div {
	width: 35px;
	height: 5px;
	background-color: #AEFFD8 	;
	margin: 5px
}

header h2 {
	font-size: 30px;
	margin-top: 20px;
	color: #A9BCD0
}

.hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.hero-msg {
	width: 50%;
}

.hero-msg h2 {
	color: white;
	font-size: 30px;	
	text-align: center;
}

.cta {
	width: 100%;
	text-align: center;
	margin-top: 10px
}

.start-btn {
	padding: 20px;
	width: 80%;
	border-radius: 5rem;
	font-size: 16px;
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.6)
    ), url(images/bgimage.jpg);
	color: white;
	border: 2px solid #AEFFD8;
	margin-top: 30px;
}

.start-btn:hover {
	transform: scale(1.05);
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	cursor: pointer;
}

.event-search-form, .yelp-search-form {
	width: 100%;
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.event-search-form legend, .yelp-search-form legend{
	color: white;
	width: 100%;
	padding: 10px 0;
}

.event-search-form label {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.event-search-form label span {
	margin: 10px auto;
	margin-left: 20px;
	
}

.search-input {
	padding: 15px;
	width: 100%;
	border-radius: 5rem;
	font-size: 16px;
	border: 2px solid lightgray;
}

input.event {
	
}

input.location {
	margin: 10px auto;
}

.submit-btn {
	padding: 15px;
	width: 100%;
	border-radius: 5rem;
	font-size: 16px;
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.6)
    ), url(images/bgimage.jpg);
	color: white;
	border: 2px solid #AEFFD8;
	margin-top: 10px;
}

.submit-btn:hover {
	transform: scale(1.05);
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	cursor: pointer;
}

.eventResults, .zomatoResults {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	margin: 10px auto;
	padding: 10px;
	width: 95%;
	color: white;
}

.eventResults:hover, .zomatoResults:hover{
	background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ) ;
	border: 4px solid #AEFFD8;
	cursor:pointer;

}

.eventResults header, .zomatoResults header {
	font-size: 20px
}

.eventResults span, .zomatoResults span {
	color: white;
	margin-top: 15px;
	font-size: 18px
}

.eventResults a, .zomatoResults a{
	margin-top: 15px;
}

.event-venue-address {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.event-venue-address span {
	margin: 0
}

button.eventURL {
	padding: 10px;
	border-radius: 5rem;
	border: 2px solid #AEFFD8;
		background:  linear-gradient(
      rgba(29, 30, 34, 0.1),
      rgba(29, 30, 34, 0.2)
    ), url(images/bgimage.jpg);
	color: white;
	font-size: 18px;
	cursor: pointer
}

button.eventURL:hover {
	transform: scale(1.05);
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	cursor: pointer;
}

.select-event-box {
	position: absolute;
	left: 96%;
}

.selected-event {
	background-color: #1F2041;
	border: 4px solid #AEFFD8;
}

.result-btns-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.result-btns-wrapper a button{
	width: 96px;
	margin-right: 10px;
}

.noResults {
	width: 100%;
	border: none;
}

.noResults header {
	font-size: 35px;
}

span.noResultsLocation {
	color: #CEE5F2;
	font-size: 40px;
}

.itin-msg {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	border: 2px solid white;
	border-right: none;
	border-left: none;

}
.itin-msg h2 {
	color: white;
	margin: 10px;
	text-align: center;
}

.date-details {
	width: 95%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 0;
		justify-content: center;

}


.weather-cost-wrapper {

}

.event-restaurant-details-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.weather, .cost, .event-details, .restaurant-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px 5px;
	margin: 10px 5px;
	font-size: 20px;
	width: 100%;
}

.event

.desc {
	
}

.date-details header {
	font-size: 15px;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
	background-color: black;
	padding: 8px;
	width: 100%
}

.date-details button {
	padding: 10px;
	border-radius: 5rem;
	border: 2px solid #AEFFD8;
		background:  linear-gradient(
      rgba(29, 30, 34, 0.1),
      rgba(29, 30, 34, 0.2)
    ), url(images/bgimage.jpg);
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.date-details button:hover {
	transform: scale(1.05);
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	cursor: pointer;
}

.date-details-btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 10px;
	background-color: black;
}

.save-date-btn, .share-date-btn {
	width: 50%;
	padding: 10px;
	border-radius: 5rem;
	border: 2px solid #AEFFD8;
		background:  linear-gradient(
      rgba(29, 30, 34, 0.9),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin: 0 5px;
}

.save-date-btn:hover, .share-date-btn:hover {
		transform: scale(1.05);
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.9)
    ), url(images/bgimage.jpg);
	cursor: pointer;
}

.date-details .weather-header {
	border: none;
	margin: 0;
	color:#A9BCD0;
	font-weight: 1000;
	font-size: 20px
}

.eventWeather {
	margin-bottom: 10px;
}

.weather-section {
	margin-top: 10px;	
}


.event-tickets, .dinner-price, .total-cost, .event-venue, .event-address, .event-time {
	margin: 5px;
	background-color: black;
}


.costVal {
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 5px;
		
}

span.total-cost {
	border-top: 2px solid #AEFFD8;
	padding-top: 10px;
	font-size: 30px;
	width: 95%
}

span.total-cost span.costVal {
	font-size: 30px;
	padding: 5px
}

span.names {
	background-color: black;
	font-weight: bolder;
	font-size: 16px;
		padding: 5px;

}

span.event-venue {
	font-size: 28px;
		padding: 5px;

}

span.event-address, span.restaurant-address {
	color: #CEE5F2;
	font-size: 22px;
	background-color: black;
		padding: 5px;

}


span.event-time {
	color: white;
	background-color: black;
	font-size: 18px;
	margin-top: 5px;
	padding: 5px;
}

div.cost, div.event-details, div.restaurant-details {
	border: 2px solid white;
	background-color:black;
	padding: 5px;
}

div.restaurant-details {
}

span.restaurant-foodType {
	background-color: black;
	margin-bottom: 10px;
		padding: 5px;

}